*[gray]         { color:gray !important;  }         *[bggray]         { background-color:gray !important;  }
*[yellow]       { color:yellow !important;}         *[bgyellow]       { background-color:yellow !important;}
*[blue]         { color:blue !important;  }         *[bgblue]         { background-color:blue !important;  }
*[orange]       { color:orange !important; }        *[bgorange]       { background-color:orange !important;}
*[green]        { color:green !important;  }        *[bggreen]        { background-color:green !important; }
*[brown]        { color:brown !important;  }        *[bgbrown]        { background-color:brown !important; }
b { color: #0A9}
*[mono]         { font-family: monospace; white-space: pre; }
pre { background-color:#EEEEEE; outline:1px dotted grey; 
margin: 4px 0 0 0 ; 
padding : 3px 0 2px 1px; 
}
*[cite]         { font-style: italic; }
*[TODO]         { color:red; font-weight: bold; }
*[TODO]:before  { content: "T:"; }
*[xxxsmall] { font-size:0.01rem; }
img[xxxsmall]{ max-width:8rem; max-height:8rem;}
*[xxsmall] { font-size:0.4rem; }
*[xsmall]  { font-size:0.7rem; }
*[small]   { font-size:0.9rem; }
*[xxbig]  { font-size:1.7em; font-weight: bold; color:#007733;}
*[xbig]  { font-size:1.5em; }
*[xxxsmall] def, *[xxsmall]  def,  *[xxxsmall] * def, *[xxsmall] * def  { font-size:0.5rem; color: orange; }
#zoomDiv def { font-size:1em; }
#zoomDiv *  def { font-size:1em; }
*[xsmall] def,  *[small] def { color: orange; }, *[xsmall] * def,  *[small] * def { color: orange; }

*[hidden]  { display:none; }
div[floatl] { float:left ; margin-right:1em; border-left:1px solid #99f; border-top:1px solid #99f; max-width:calc(49% - 1em);}
div[floatr] { float:right; margin-left :1em; border-left:1px solid #99f; border-top:1px solid #99f; max-width:calc(49% - 1em);}
ul,ol { margin-top:0.3em; margin-bottom:0.3em;  margin-left: 1.0em; padding-left: 0rem; }
#zoomDiv [xxxsmall] , #zoomDiv * [xxxsmall], #zoomDiv * * [xxxsmall], #zoomDiv * * * [xxxsmall]{ font-size:1em; } 
#zoomDiv img[xxxsmall] , #zoomDiv * img[xxxsmall], #zoomDiv * * img[xxxsmall], #zoomDiv * * * img[xxxsmall]{ max-width:100%; max-height:100%;} 

/* REF: https://stackoverflow.com/questions/4910077/select-all-child-elements-recursively-in-css */
#zoomDiv * [small], #zoomDiv * [xsmall], #zoomDiv * [xxsmall] { font-size:1em; }
#zoomDiv *[small], #zoomDiv *[xsmall], #zoomDiv *[xxsmall] { font-size:1em; }
#zoomDiv * td { font-size:1em; }

body      { font-family:sans-serif; font-size:16px; padding: 0; margin: 0; line-height:0.9; }
#zoomDiv  { 
   display:none;
   line-height:1.2;
   position:fixed; top:0.1%; left:0.1%; width:auto; height:auto;
   max-height: 98%; max-width: 98%; overflow: auto;
   background-color:#FFFFFF; color:#000; border-radius: 0.5rem; border: 4px solid black; font-size: 1rem;
   box-shadow: 5px 5px 30px black;
   padding: 0.5rem;
}




a            { text-decoration:none; font-family:monospace; padding:0.0;}
a[href^="#"]:before /* mark internal anchor */ {  content: ">"; }
a[href^="#"]:after  /* mark internal anchor */ {  content: "<"; }
a:visited { color:blue; }
td { 
   font-size: 0.8rem;
   vertical-align: top;
   outline: 1px solid grey; 
}
td,th               {background-color:#FFFFFF; min-width:8.25%; max-width:8.25%; overflow: hidden; }

td[colsep],th[colsep] {min-width:0.5%; max-width:1%; outline:0px; }
*[textFound="true"] {outline: 4px solid #0D0;}


tr[header_delimit] > *{background-color:#000000; color:#FFFFFF; font-size:2em; color: white; }
tr[header_delimit] > td > a{color:inherit; text-decoration: underline; }
div[subtable1] { max-width: 95%; overflow: auto; padding:0; margin: 0;}

table { width:100% border:0; margin: 0;}

/*  long press { */

           *[zoom] { border-right:4px solid green; min-height:0.4rem;}
#zoomDiv > *[zoom] { border-top:0px; }
*[zoom], td {
/* Disable select https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#zoomDiv *[zoom],
#zoomDiv td {
  -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all; /* Safari */
     -khtml-user-select: all; /* Konqueror HTML */
       -moz-user-select: all; /* Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
            user-select: all; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}


/*  long press } */
