th, h1, h2, h3, h4 { font-family: sans-serif; }

*[gray]         { color:gray !important;  }         *[bggray]         { background-color:gray !important;  }
*[yellow]       { color:yellow !important;}         *[bgyellow]       { background-color:yellow !important;}
*[blue]         { color:blue !important;  }         *[bgblue]         { background-color:blue !important;  }
*[orange]       { color:orange !important; }        *[bgorange]       { background-color:orange !important;}
*[green]        { color:green !important;  }        *[bggreen]        { background-color:#AFA !important; }
*[brown]        { color:brown !important;  }        *[bgbrown]        { background-color:brown !important; }
*[red]          { color:red   !important;  }        *[bgred]         { background-color:red    !important;}
b { color: #0A9}
*[mono]         { font-family: monospace; white-space: pre; }
pre {
  float: left; width: auto;
}
pre, *[xxsmall], *[xxxsmall] {
  background-color:#EEEEEE; 
  margin: 3px 0 0 3px;
  box-shadow: 1px -1px 4px black;
  padding : 2px 1px 2px 1px;
  letter-spacing: -1.0px;
}

/* REF: http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/ */
pre, code, kbd, samp, tt{
  font-family:monospace,monospace;
  font-size:1em;
}
*[xxxsmall] pre  { outline: 0px; }
pre > b { }

*[cite]         { font-style: italic; }
*[TODO]         { color:red; font-weight: bold; }
*[TODO]:before  { content: "T:"; }
*[xxxsmall] { font-size:0.01rem; }
img[xxxsmall],svg[xxxsmall]{ max-width:8rem; max-height:8rem;}
#zoomDiv svg[xxxsmall]{ max-width:none; max-height:none;}
*[xxsmall] { font-size:0.4rem; }
*[xsmall]  { white-space:normal; font-size:0.7rem; }
*[small]   { white-space:normal; font-size:0.9rem; }
*[xxbig]  { font-size:1.7em; font-weight: bold; color:#007733;}
*[xbig]  { font-size:1.5em; }
*[xxxsmall] def, *[xxsmall]  def,  *[xxxsmall] * def, *[xxsmall] * def  { font-size:0.5rem; color: orange; }
*[xxxsmall] [def], *[xxsmall]  [def],  *[xxxsmall] * [def], *[xxsmall] * [def]  { font-size:0.5rem; color: orange; }
#zoomDiv def { font-size:1em; }
#zoomDiv *  def { font-size:1em; }
*[xsmall] def,  *[small] def { color: orange; }, *[xsmall] * def,  *[small] * def { color: orange; }

*[hidden]  { display:none; }
div[floatl] { float:left ; margin-right:1em; border-left:1px solid #99f; border-top:1px solid #99f; max-width:calc(49% - 1em);}
div[floatr] { float:right; margin-left :1em; border-left:1px solid #99f; border-top:1px solid #99f; max-width:calc(49% - 1em);}
ul,ol { margin-top:0.3em; margin-bottom:0.3em;  margin-left: 1.0em; padding-left: 0rem; }
#zoomDiv [xxxsmall] , #zoomDiv * [xxxsmall], #zoomDiv * * [xxxsmall], #zoomDiv * * * [xxxsmall]{ font-size:1em; } 
#zoomDiv img[xxxsmall] , #zoomDiv * img[xxxsmall], #zoomDiv * * img[xxxsmall], #zoomDiv * * * img[xxxsmall]{ max-width:100%; max-height:100%;} 

/* REF: https://stackoverflow.com/questions/4910077/select-all-child-elements-recursively-in-css */
#zoomDiv * [small], #zoomDiv * [xsmall], #zoomDiv * [xxsmall] { font-size:1em; }
#zoomDiv *[small], #zoomDiv *[xsmall], #zoomDiv *[xxsmall] { font-size:1em; }
#zoomDiv * td { font-size:1em; }

body      { font-family: sans-serif; font-size:16px; padding: 0; margin: 0; line-height:0.9; }

#zoomDiv  { 
   display:none;
   line-height:1.2;
   position:fixed; top:0.1%; left:0.1%; width:auto; height:auto;
   max-height: 98%; max-width: 98%; overflow: auto;
   background-color:#FFFFFF; color:#000; border-radius: 0.5rem; border: 4px solid black; font-size: 1rem;
   box-shadow: 5px 5px 30px black;
   padding: 0.5rem;
}




a            { text-decoration:none; font-family:monospace; padding:0.0;}
a[href^="#"]:before /* mark internal anchor */ {  content: ">"; }
a[href^="#"]:after  /* mark internal anchor */ {  content: "<"; }
a:visited { color:blue; }
td { 
   font-size: 0.8rem;
   vertical-align: top;
   outline: 1px solid grey; 
}
td,th               {background-color:#FFFFFF; overflow: hidden; }

td[colsep],th[colsep],*[title],*[title] {
    font-family: monospace;
    font-weight: bold;
    color: brown;
    text-align:right;
    line-height:0.70rem;
    padding-top:0;
    padding-bottom:0;
    word-wrap:break-word;
    padding-right:0.1rem;
    padding-left:0.0rem;
    outline:0px; 
}
td[colsep],th[colsep] {
    min-width: 0.01%; max-width:0.5em;
}
*[title],*[title] {
    width:auto; 
}
/*
td[colsep] > div,th[colsep] >div {
    transform: rotate(270deg); 
    transform-origin: right bottom 0;
}
*/

*[textFound="true"] {
  outline: 1px solid #0F0;
  background-color: #DFD;
}

#zoomDiv *[textFound="true"] {
  outline: inherit;
  background-color: inherit;
}



tr[header_delimit] > *{background-color:#000000; color:#FFFFFF; font-size:2em; color: white; }
tr[header_delimit] > td > a{color:inherit; text-decoration: underline; }
div[subtable1] { max-width: 95%; overflow: auto; padding:0; margin: 0;}

table { width:100% border:0; margin: 0;}

/*  long press { */

           *[zoom] { min-height:0.4rem;}
#zoomDiv > *[zoom] { border-top:0px; }

hr {
    color: orange;
    background-color: orange;
    outline: 1px solid orange;
    border: 0px;
    height: 0.01rem;
}

/*  long press } */
