body      { font-family: sans-serif; font-size:16px; padding: 0; margin: 0; line-height:1.1; background-color:#EEE;}

body > div:nth-of-type(5n-4) {
    background: yellow;
    outline-color: yellow;
}
body > div:nth-of-type(5n-3) {
    background: #CCF;
    outline-color: #CCF;
}
body > div:nth-of-type(5n-2) {
    background: #FFDF5F;
    outline-color: #FFDF5F;
}
body > div:nth-of-type(5n-1) {
    background: #FFEBCD;
    outline-color: #FFEBCD;
}
body > div:nth-of-type(5n-0) {
    background: #AFA;
    outline-color: #AFA;
}


@media (hover:none), (hover:on-demand) {
/* ^^^ REF: https://stackoverflow.com/questions/11387805/media-query-to-detect-if-device-is-touchscreen */
    /* START LONG-PRESS { */
    *[zoom] {
    /* Disable select https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
      -webkit-touch-callout: none;    /* iOS Safari */
        -webkit-user-select: none;    /* Safari */
         -khtml-user-select: none;    /* Konqueror HTML */
       /*  -moz-user-select: none; */ /* Firefox */
            -ms-user-select: none;    /* Internet Explorer/Edge */
                user-select: none;    /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }

    #zoomDiv [zoom] , #zoomDiv * [zoom], #zoomDiv * * [zoom], #zoomDiv * * * [zoom]
    {
    /* Disable select https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
      -webkit-touch-callout: initial;    /* iOS Safari */
        -webkit-user-select: initial;    /* Safari */
         -khtml-user-select: initial;    /* Konqueror HTML */
           -moz-user-select: initial;    /* Firefox */
            -ms-user-select: initial;    /* Internet Explorer/Edge */
                user-select: initial;    /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
    body { font-size:32px; !important; }
    *[xsmall] { font-size:0.9rem; }
    *[small]  { font-size:1.0rem; }
    /* END   LONG-PRESS } */

    @font-face{
        font-family: 'Source Code Pro';
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        src: url('./source-code-pro/EOT/SourceCodePro-Regular.eot') format('embedded-opentype'),
             url('./source-code-pro/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
             url('./source-code-pro/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
             url('./source-code-pro/OTF/SourceCodePro-Regular.otf') format('opentype'),
             url('./source-code-pro/TTF/SourceCodePro-Regular.ttf') format('truetype');
    }


}

th, h1, h2, h3, h4 { font-family: sans-serif; }

*[gray]     { color:gray   !important; }  *[bggray]   { background-color:gray   !important;}
*[yellow]   { color:yellow !important; }  *[bgyellow] { background-color:yellow !important;}
*[blue]     { color:blue   !important; }  *[bgblue]   { background-color:#CCF   !important;}
*[orange]   { color:orange !important; }  *[bgorange] { background-color:#FFDF5F!important;}
*[green]    { color:green  !important; }  *[bggreen]  { background-color:#AFA   !important;}
*[brown]    { color:brown  !important; }  *[bgbrown]  { background-color:#FFEBCD!important;}
*[red]      { color:red    !important; }  *[bgred]    { background-color:red    !important;}

b { color: #0A9}
*[mono] { font-family: 'Source Code Pro',monospace, monospace; white-space: pre; }
pre {
  float: left; width: auto;
}

*[zoom] {
  background-color:#EEEEEE; 
  margin: 3px 0 0 3px;
  box-shadow: 1px -1px 4px #050;
  padding : 2px 1px 2px 1px;
/*  letter-spacing: -1.0px; */
}

#zoomDiv *[zoom] {
    margin-right: 1.0rem;
}

*[title] {
    width:auto; 
    font-family: monospace;
    font-weight: bold;
    font-size:0.7rem;
    color: brown;
    text-align:right;
    line-height:1.0em;
    padding-top:0;
    padding-bottom:0;
    word-wrap:break-word;
    padding-right:0.1rem;
    padding-left:0.0rem;
    outline:0px; 
}

/* REF: http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/ */
pre, code, kbd, samp, tt{
  font-family:'Source Code Pro',monospace, monospace;
  font-size:1em;
}
*[zoom] pre  { outline: 0px; }
math[zoom]{ padding:1.1em 0 1.1em 0; }
pre > b { }

*[cite]         { font-style: italic; }
*[TODO]         { color:red; font-weight: bold; }
*[TODO]:before  { content: "T:"; }
*[zoom] { font-size:0.00rem; }
img[zoom],svg[zoom]{ max-width:8rem; max-height:8rem;}
#zoomDiv svg[zoom]{ max-width:none; max-height:none;}
*[xsmall]  { white-space:normal; font-size:0.7rem; }
*[small]   { white-space:normal; font-size:0.9rem; }
*[xxbig]  { font-size:1.7em; font-weight: bold; color:#007733;}
*[xbig]  { font-size:1.5em; }

*[hidden]  { display:none; }
div[floatl] { float:left ; margin-right:1em; border-left:1px solid #99f; border-top:1px solid #99f; max-width:calc(49% - 1em);}
div[floatr] { float:right; margin-left :1em; border-left:1px solid #99f; border-top:1px solid #99f; max-width:calc(49% - 1em);}
ul,ol { margin-top:0.3em; margin-bottom:0.3em;  margin-left: 1.0em; padding-left: 0rem; }
#zoomDiv [zoom] , #zoomDiv * [zoom], #zoomDiv * * [zoom], #zoomDiv * * * [zoom]{ font-size:1em; } 
#zoomDiv img[zoom] , #zoomDiv * img[zoom], #zoomDiv * * img[zoom], #zoomDiv * * * img[zoom]{ max-width:100%; max-height:100%;} 

/* REF: https://stackoverflow.com/questions/4910077/select-all-child-elements-recursively-in-css */
#zoomDiv * [small], #zoomDiv * [xsmall] { font-size:2em; text-decoration: underline overline; }
#zoomDiv *[small], #zoomDiv *[xsmall]{ font-size:2em; text-decoration: underline overline; }
#zoomDiv * td { font-size:1em; }

#zoomDiv  { 
   display:none;
   line-height:1.2;
   position:fixed; top:1%; left:1%; width:auto; height:auto;
   max-height: 94%; max-width: 96%; overflow: auto;
   background-color:#FFFFFF; color:#000; border-radius: 0.5rem; border: 4px solid black; font-size: 1rem;
   box-shadow: 0 0 15px black;
   padding: 0.5rem;
   background-color: #FFE;
}




a            { text-decoration:none; font-family:'Source Code Pro',monospace; padding:0.0;}
a[href^="#"]:before /* mark internal anchor */ {  content: ">"; }
a[href^="#"]:after  /* mark internal anchor */ {  content: "<"; }
a:visited { color:blue; }
td { 
   font-size: 0.8rem;
   vertical-align: top;
   padding:2px;
   margin:0;
}
td,th               {background-color:#FFFFFF; overflow: hidden; }

*[textFound="false"] { display:none; }
*[textFound="debug"] { background-color: #AAA; }

*[textFound="true"] {
  outline: 1px solid #0F0;
  background-color: #DFD;
}

#zoomDiv *[textFound="true"] {
  outline: inherit;
  background-color: inherit;
}

table { width:100% border:0; margin: 0;}

           *[zoom] { min-height:0.4rem;}
#zoomDiv > *[zoom] { border-top:0px; }

hr {
    color: orange;
    background-color: orange;
    outline: 1px solid orange;
    border: 0px;
    height: 0.01rem;
}

#idLabelsFilter, 
#idButtonHelp
{
    vertical-align: middle;
    font-size:2.5rem;
    height:1.5rem;
    outline: 1px solid black;
    box-shadow: 1px -1px 4px #000;
}

#idLabelsFilter[active=true] {
    background-color: #AFA;
}

#idButtonHelp {
    font-size:1.0rem;
}

input[selected=false] {
    background-color: white;
}
input[selected=true] {
    background-color: black;
    color: white;
}

#buttonRefineSeach {
    padding: 0;
}

.labelButton {
    margin-right:0.5rem;
    margin-bottom:0.5rem;
    border: 3px solid black;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
#divCloseZoom {
    display: inline;
    font-size:2.0rem;
    color:blue;
    padding: 0.1rem  0.3rem 0.1rem 0.3rem;
    border: 3px solid blue;
    border-radius: 1rem;
    text-align: center;
    background-color: #EEF;
    box-shadow: 0 0 4px blue;
    white-space: nowrap;
}

#historyBackFor {
    display:inline;
    margin-left:0rem;
    font-family: 'Source Code Pro',monospace, monospace;
}


div[group], div[groupv] {
    outline: 3px solid black;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    vertical-align: top;
}

*[groupv] {
    width: min-content;
}
*[group] { display: inline-block; }

*[groupv] { display: inline-grid; }

#divElementLabels { display: inline; vertical-align: super; }


#idLabelSearchAndMode {
    color: #0000CC;
}


